<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Company XYZ - Register</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="" />
	</head>
	<body>
		<form id="register-form">
			<label for="username-input">Username</label>
			<input
				type="username"
				name="username-input"
				id="username-input"
				autocomplete="off" />
			<label for="password-input">Password</label>
			<input type="password" name="password-input" id="password-input" />
			<label for="confirm-password-input">Confirm Password</label>
			<input
				type="password"
				name="confirm-password-input"
				id="confirm-password-input" />
			<button type="submit">Register</button>
		</form>
	</body>
	<script src="./scripts/register.js" type="module" async defer></script>
</html>
